.GHT2ce.NsCY4,
.N1kg8d,
.NBa7we,
.QkDEb,
.SsyS6c,
.TSUbDb a,
.UY7F9,
.WAwUs,
.acjg9d.a2J9sc,
.d4r55,
.dmRWX,
.e4rVHe,
.lDY1rd,
.mNWoyd,
.n8sPKe
.qXzEJb,
.uKtYOb,
a.widget-title-attribution-link,
.qty3Ue,
div.widget-title-attribution-image {
    display: none;
}